<html>
<head>
    <!-- bootstrap for some css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- custom css -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/monitoring.css') }}" rel="stylesheet" />
    <title>VyPR Visualisation Tool</title>
</head>
<body>
<div id="app">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/instrumentation/">Instrumentation</a></li>
      <li role="presentation"><a href="/monitoring">Monitoring</a></li>
    </ul>
    <timeline event_stream="{{ event_stream_url }}"></timeline>
    <visualisation></visualisation>
</div>

<!-- Vue.js for main operations, axios for http, dagre/d3 for graphs, bootstrap/jquery for some UI. -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dagre-d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/monitoring.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>