div.controls {
    text-align: center;
    padding: 2px;
}

div.event-list {
    height: 80px!important;
    width: 100%;
    overflow-x: scroll;
}

div.event {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 170px;
    height: 50px;
    background: grey;
    display: float;
    float: left;
    cursor: pointer;
}

div.event.selected {
    height: 60px;
}

div.event:hover {
    text-decoration: underline;
    color: white;
}

div.event ul li {
    list-style: none;
    margin-left: -35px;
    font-family: arial;
    font-size: 12px;
    color: white;
}

div.event ul li.time {
    font-size: 10px;
    border-bottom: 1px solid white;
    margin-left: -40px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

div.visualisation {
}

div.left-column {
    width: 40%;
}

.panel-body#query {
    font-family: courier;
}

.panel-body#code pre {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.code-line.highlighted {
    background: #CCC;
}

.code-line .number {
    width: 30px;
    padding-right: 10px;
    text-align: right;
    font-size: 10px;
}

.code-line .code-wrapper {
    width: 570px;
}

.code-line-skip {
    height: 40px;
    vertical-align: center;
    text-align: center;
}

.scfg, .binding-tree {
  text-align: center;
}

.node rect {
  stroke: black;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.node .label {
    color: black;
}