div.formula_trees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.formula_tree {
    margin: 5px;
    border: white 2px solid;
}

div.formula_tree.true {
    border: green 2px solid;
}

div.formula_tree.false {
    border: red 2px solid;
}

div.formula-tree-list li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

div.formula-tree-list li ul {
    font-size: 14px;
    font-weight: normal;
}

div.formula-tree-list li div.property-hash {
    background: #CCC;
    padding: 5px;
    width: 360px;
}

div.formula-tree-list li div.binding {
    background: #CCC;
    padding: 5px;
    margin: 5px;
    width: 160px;
}