<html>
<head>
    <title>VyPR Visualisation Tool</title>
</head>
<body>
    <h1>Visualisation Tool for VyPR</h1>
    <p>Using event streams:</p>
    <ul>
        <li>{{ inst_event_stream_url }} for instrumentation visualisation</li>
        <li>{{ mon_event_stream_url }} for monitoring visualisation</li>
    </ul>
    <p>Go to visualisation for:</p>
    <ul>
        <li><a href="/instrumentation/">Instrumentation</a></li>
        <li><a href="/monitoring/">Monitoring</a></li>
    </ul>
</body>
</html>